{{> head }}
{{> navbar }}

<div class="row">
    <div class="col-8">
        <h1>Acerca de Eduardo...</h1>
        <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Saepe quas molestiae laudantium dolorem optio similique nisi quibusdam, aspernatur fugiat id sit autem vel? Omnis ea illum dignissimos sed praesentium repellendus?
        </p>
    </div>

    <div class="col-4">
        <img src="assets/img/Eduardo_CV.jpg" class="img-thumbnail">
    </div>
</div>






{{> footer }}